body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90%;
    border: 5px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    isolation: isolate;
    font-style: normal;
    margin: 30px auto;
}

.center-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2px;
    height: 2px;
}

.clock-axis {
    position: absolute;
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
}

#hour-axis { z-index: 1; }
#minute-axis { z-index: 2; }

.hand {
    position: absolute;
    font-weight: bold;
    white-space: nowrap;
    transform-origin: left center; 
    display: inline-block;
}

#kor-hour-hand {
    font-size: clamp(50px, 4.5vw, 70px);
    color: black;
    padding-left: 30px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 900;
}

#kor-minute-hand {
    font-size: clamp(40px, 3vw, 45px);
    padding-left: 30px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 800;
    color: black;
    mix-blend-mode: difference; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0 0 20px;
    font-size: 1rem;
}
